<footer class="py-4 bg-[#0D1224] text-white">
  <div class="max-w-7xl mx-auto px-4 flex items-center justify-between">
    <!-- Texto à esquerda com tamanho de fonte maior -->
    <p class="text-lg md:text-l">&copy; Developer Portfolio by Gustavo Martins</p>

    <!-- Ícones de redes sociais à direita -->
    <div class="flex space-x-4 ml-auto">
      <a href="#" class="hover:text-blue-300" aria-label="LinkedIn">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a href="#" class="hover:text-blue-300" aria-label="GitHub">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <!-- Outros ícones de redes sociais podem ser adicionados aqui -->
    </div>
  </div>
</footer>