<footer class="py-4 bg-[#0D1224] text-white">
    <div class="max-w-7xl mx-auto px-4 flex items-center justify-between">
      <!-- Texto à esquerda com tamanho de fonte maior -->
      <p class="text-lg md:text-l">
        &copy; Developer Portfolio by Gustavo Martins
      </p>
  
      <!-- Ícones de redes sociais à direita -->
      <div class="flex space-x-4 ml-auto">
        <a
          href="https://www.linkedin.com/in/g2martins/"
          class="hover:text-blue-300"
          aria-label="LinkedIn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a
          href="https://github.com/G2Martins"
          class="hover:text-blue-300"
          aria-label="GitHub"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div>
    </div>
  </footer>
  